<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.choi.gohome" >
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.example.choi.gohome.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:name=".CustomFontApp" >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        
        <service android:name=".GpsInfo"/>
        <activity android:name=".activity.RouteSettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RouteSettingMapActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MapActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SafetyScoutActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.GuardiansActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PwChangeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PreferencesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.GuideActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SendQuestionMail"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AppInfoActivity"
            android:screenOrientation="portrait"/>

        <!-- [START gcm_receiver] -->
        <receiver android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="net.saltfactory.demo.gcm"/>
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener_service] -->
        <service
            android:name="com.example.choi.gohome.gcmService.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener_service] -->

        <!-- [START instanceId_listener_service] -->
        <service
            android:name="com.example.choi.gohome.gcmService.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener_service] -->

        <!-- [START gcm_registration_service] -->
        <service
            android:name="com.example.choi.gohome.gcmService.RegistrationIntentService"
            android:exported="false">

        </service>
        <!-- [END gcm_registration_service] -->

    </application>

</manifest>